<%- include('includes/head.ejs', {nombreUsuario: nombreUsuario}) %>
<section class="container mt-6 content is-normal">
    <h2 class="is-size-4">Preguntas</h2>
    <h3 class="is-size-5 has-text-weight-bold mt-3">
        ¿Qué beneficios encuentras en el estilo MVC?
    </h3>
    <p>
        Es mas ordenado y estructurado. Esto permite que el código sea más fácil de mantener y de entender. Además, permite que el desarrollo sea más rápido y eficiente.
    </p>
    <h3 class="is-size-5 has-text-weight-bold mt-3">
        ¿Encuentras alguna desventaja en el estilo arquitectónico MVC?
    </h3>
    <p>
        Es más complejo de entender y de implementar si es la primera vez que lo usamos. Además, puede ser que el desarrollo sea más lento, asi mismo puede ser dificil de implementar los otros estilos arquitectonicos
    </p>
</section>

<%- include('includes/foot.ejs') %>