<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="/CSS/stylehome.css">
    <title>Laboratorio 18</title>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <img src="https://i.ibb.co/zrvrR8F/logo.png" alt="Tienda online" class="navbar-item" width="112" height="28">
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>
            
                <a class="navbar-item" href="/agregar">
                    Agregar
                </a>

                <a class="navbar-item" href="/validar-contrasiena">
                    Validar contraseña
                </a>

                <a class="navbar-item" href="/resenia">
                    Reseña
                </a>

                <a class="navbar-item" href="/feedback/ayuda">
                    Ayuda
                </a>

                <a class="navbar-item" href="/feedback/preguntas">
                    Preguntas y referencias
                </a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <% if (nombreUsuario == '') {%>
                        <div class="buttons">
                            <a class="button is-primary" href="/usuarios/login">
                                Log in
                            </a>
                            <a class="button is-primary" href="/usuarios/signup">
                                Sign up
                            </a>
                        </div>
                    <% } else { %>
                        <div class="buttons">
                            <strong>Bienvenido: <%= nombreUsuario %>     </strong>
                            <a class="button is-primary" href="/usuarios/logout">
                                Log out
                            </a>
                        </div>
                    <% } %>
                </div>
    </nav>

    <main>
        <section class="container">
