<%- include('includes/head.ejs') %>
<section class="container mt-6 content is-normal">
    <h2 class="is-size-4">Preguntas</h2>
    <h3 class="is-size-5 has-text-weight-bold mt-3">
        ¿Qué otros templating engines existen para node?
    </h3>
    <p class="is-size-6 mt-2">
        El principal uso es manejar la publicación de un proyecto al público para que otros puedan utilizarlo. Además, se puede administrar las dependencias de tu proyecto. Las características que tienen son las siguientes:
    </p>
    <ul>
        <li>
            <p class="is-size-6 mt-2">
                Name: Nombre del proyecto.
            </p>
        </li>
        <li>
            <p class="is-size-6 mt-2">
                Version: Versión del proyecto.
            </p>
        </li>
        <li>
            <p class="is-size-6 mt-2">
                Description: Descripción del proyecto.
            </p>
        </li>
        <li>
            <p class="is-size-6 mt-2">
                Main: Archivo principal del proyecto.
            </p>
        </li>
        <li>
            <p class="is-size-6 mt-2">
                Script: Conjunto de scripts de inicio y utilidades.
            </p>
            <ul>
                <li>
                    <p class="is-size-6 mt-2">
                        Start: Iniciar la aplicación de node con un nombre predefinido.
                    </p>
                </li>
                <li>
                    <p class="is-size-6 mt-2">
                        Test: Ejecutar pruebas automatizadas.
                    </p>
                </li>
            </ul>
        </li>
        <li>
            <p class="is-size-6 mt-2">
                Repository: Repositorio del proyecto de github.
            </p>
        </li>
        <li>
            <p class="is-size-6 mt-2">
                Keywords: Palabra clave para encontrar el proyecto.
            </p>
        </li>
        <li>
            <p class="is-size-6 mt-2">
                Author: Autores del proyecto.
            </p>
        </li>
        <li>
            <p class="is-size-6 mt-2">
                License: Especificar la licencia para el cual distribuir el paquete.
            </p>
        </li>
        <li>
            <p class="is-size-6 mt-2">
                Bugs: Url donde los usuarios pueden reportar los bugs.
            </p>
        </li>
        <li>
            <p class="is-size-6 mt-2">
                Homepage: Url a la página principal del proyecto, donde se puede encontrar la documentación sobre el proyecto.
            </p>
        </li>
        <li>
            <p class="is-size-6 mt-2">
                Dependencies: Paquetes de software externos que el proyecto necesita para funcionar correctamente.
            </p>
        </li>
    </ul>
</section>

<%- include('includes/foot.ejs') %>