<%- include('includes/head.ejs', {nombreUsuario: nombreUsuario}) %>
<section class="container mt-6 content is-normal">
    <h2 class="is-size-4">Preguntas</h2>
    <h3 class="is-size-5 has-text-weight-bold mt-3">
        ¿Qué otras formas de autentificación existen?
    </h3>
    <p>
        Existen otras formas de autentificación como la autentificación biométrica, la autentificación de dos factores, la autentificación de un solo factor, la autentificación de tres factores, la autentificación de cuatro factores, entre otras.
    </p>
</section>

<%- include('includes/foot.ejs') %>