</main>
</section>
<footer class="footer">
<div class="content has-text-left">
    <p class="title is-4">Referencias</p>
    <ul>
        <li>
            <a href="https://www.freecodecamp.org/news/whats-the-document-object-model-and-why-you-should-know-how-to-use-it-1a2d0bc5429d/">https://www.freecodecamp.org/news/whats-the-document-object-model-and-why-you-should-know-how-to-use-it-1a2d0bc5429d/</a>
        </li>
        <li>
            <a href="https://www.w3schools.com/tags/ref_eventattributes.asp">https://www.w3schools.com/tags/ref_eventattributes.asp</a>
        </li>
        <li>
            <a href="https://www.w3schools.com/js/js_htmldom_nodes.asp">https://www.w3schools.com/js/js_htmldom_nodes.asp</a>
        </li>
        <li>
            <a href="https://chat.openai.com/">https://chat.openai.com/</a>
        </li>
    </ul>
</div>
</footer>
</body>
</html>